:root {
    font-size: 62.5%; /* 1rem = 10px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EAEAEA;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem; /* 16px */
    margin: 3vw 15vw 2vw;
}

header, main {
    background: #FFFFFF;
}

h1, h2 {
    color: #1B1B1B;
    font-weight: 700;
    text-align: center;
}

figcaption, footer {
    color: #8F8F8F;
    font-size: 1.2rem;
}

ul, ol, p {
    color: #39393A;
    font-weight: 400;
    font-size: 1.6rem;
}

h1 {
    font-size: 2.8rem;
    padding: 8rem 0 2rem;
}

h2 {
    font-size: 2rem;
    padding: 3rem 0 2rem;
}

ul, ol {
    line-height: 2.6rem;
    list-style-position: inside;
    padding: 0 3rem;
}

figcaption {
    text-align: right;
    padding: 1rem 0;
}

footer {
    text-align: center;
    padding: 5rem 0 0;
}

img {
    width: 100%;
    /*height: 25rem;*/
    border-radius: 1rem;
}

header {
    border-radius: 1rem 1rem 0 0;
}

main {
    border-radius: 0 0 1rem 1rem;
}

p {
    padding: 0 3rem 2rem;
}

figure {
    padding: 0 3rem;
}

li {
    padding: 0.5rem 0;
}
